.form-control {
    width: 250px !important;
}

.btn {
    width: 150px;
}

div.layout
{
  text-align: center;
}
div.centre
{
  text-align: left;
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#feed {
	margin: 10px;
}
